//media queires tool
@media screen and (max-width: 75rem)
    .main_content_wrapper .other_projects_wrapper .container, .search_content_wrapper .search_wrapper
        grid-template-columns: repeat(2, 1fr)
    .container .projects:nth-child(5)
        display: block
@media screen and (max-width: 68.125rem)
    .nav_wrapper
        width: 5.625rem
        .side_nav span
            opacity: 0
    .search_bar_wrapper
        .search_bar
            width: 100%
            form input
                width: 50%
@media screen and (max-width: 64.0625rem)
    .details_wrapper .details_image
        height: 14.875rem
@media screen and (max-width: 61.875rem)
    .details_wrapper .details_content
        flex-direction: column
        .project_info_wrapper
            max-width: initial
        .suggested_project
            padding: 6.25rem 0 0 0
            display: unset
@media screen and (max-width: 59.375rem)
    .main_content_wrapper .feature_wrapper .featured_project_wrapper h2
        padding: 1.796875rem 0 0 2.125rem
        font-size: 1.5625rem
@media screen and (max-width: 45.9375rem)
    .main_content_wrapper .other_projects_wrapper .container, .search_content_wrapper .search_wrapper
        grid-template-columns: 1fr
    .main_content_wrapper .feature_wrapper .featured_project_wrapper
        height: 17rem
@media screen and (max-width: 40.625rem)
    .search_bar_wrapper form a input
        width: 70%
        margin-left: 10%
    .main_content_wrapper .feature_wrapper .featured_project_wrapper
        height: 14.875rem
    .main_content_wrapper .feature_wrapper .featured_project_wrapper h2
        opacity: 0
@media screen and (max-width: 39.0625rem)
    .skills_content_wrapper .content_container .rw-wrapper .break
        display: inline
    .details_wrapper .details_content .project_info_wrapper .info_title
        flex-direction: column
    .details_wrapper .details_content .project_info_wrapper .info_title .button_containers
        margin-top: 2.25rem
    .details_wrapper .details_content .suggested_project
        margin-bottom: 1.25rem
@media screen and (min-width: 29.75rem)
    #app
        padding: 1.25rem
@media screen and (max-width: 29.6875rem)
    #main_page_wrapper
        border-radius: 0
    .search_bar_wrapper
        padding-right: 0.9375rem
    .main_content_wrapper, .details_wrapper, .about_content_wrapper, .skills_content_wrapper, .contact_content_wrapper, .search_content_wrapper
        padding: 1.46875rem 0.9375rem 0 0.9375rem
        border-radius: 1.25rem 0 0 0
    .home_wrapper
        border-radius: 0
        max-height: 100%
    .nav_wrapper
        padding-left: 0.625rem
        width: 3.25rem
    .main_content_wrapper .other_projects_wrapper .container, .search_content_wrapper .search_wrapper
        grid-row-gap: 2rem
@media screen and (max-width: 28.75rem)
    .main_content_wrapper .other_projects_wrapper .container .projects p, .search_content_wrapper .search_wrapper .projects p
        margin: 0 0.71875rem 1.5625rem 1.15625rem