//home layout
.home_wrapper
    position: relative
    display: flex
    width: 77.5rem
    max-height: 54.25rem
    height: 100%
    // background-color: $dark_background_color
    background-color: rgba(32, 25, 45, 0.9)
    border-radius: 1.25rem
    overflow: hidden
    box-shadow: 0 1.25rem 3.125rem rgba(0, 0, 0, 0.3)
    transition: all 0.4s ease
    .main_page_wrapper
        width: 100%
        height: auto
        overflow: hidden