//main content layout
.main_content_wrapper
    width: 100%
    height: 100%
    background-color: $dark_background_color
    border-radius: 1.25rem 0 0 0
    padding: 1.46875rem 1.875rem 0 2.9375rem
    .feature_wrapper
        h1
            font-size: 1.875rem
            font-weight: 600
            margin: 0 0 0.5625rem 0
            cursor: default
        .featured_project_wrapper
            position: relative
            width: 100%
            height: 20.125rem
            border-radius: 1.25rem
            cursor: pointer
            transform: perspective(1px) scale(1) translateZ(0)
            backface-visibility: hidden
            -webkit-font-smoothing: subpixel-antialiased
            overflow: hidden
            transition: all 0.3s
            &:hover .featured_project
                transform: scale(1.1)
            .featured_project
                width: 100%
                height: 100%
                object-fit: cover
                transform: perspective(1px) scale(1) translateZ(0)
                backface-visibility: hidden
                -webkit-font-smoothing: subpixel-antialiased
                transition: all 0.3s
            h2
                position: absolute
                top: 0
                left: 0
                padding: 3.59375rem 0 0 4.25rem
                margin: 0
                font-size: 2.5625rem
                font-weight: 500
                transform: perspective(1px) scale(1) translateZ(0)
                backface-visibility: hidden
                -webkit-font-smoothing: subpixel-antialiased
                z-index: 100
    .other_projects_wrapper
        h4
            display: block
            margin: 1.4375rem 0 0.96875rem 0
            font-size: 1.5625rem
            font-weight: 500
            cursor: default
        .container
            display: grid
            width: 100%
            grid-template-columns: repeat(4, 1fr)
            grid-column-gap: 20px
            grid-row-gap: 20px
            .projects
                border-radius: 1.25rem
                // max-height: 16.5625rem
                // min-width: 12.5rem
                width: 100%
                height: 100%
                background-color: $project_background
                overflow: hidden
                cursor: pointer
                transform: perspective(1px) scale(1) translateZ(0)
                backface-visibility: hidden
                -webkit-font-smoothing: subpixel-antialiased
                transition: all 0.2s ease-in
                &:hover
                    transform: scale(0.98)
                &:hover .project_image
                    transform: scale(1.1)
                .img_wrapper
                    width: 100%
                    height: 7.9375rem
                    overflow: hidden
                    .project_image
                        width: 100%
                        height: 100%
                        object-fit: cover
                        transition: all 0.2s ease-in
                h5
                    font-size: 1.1875rem
                    font-weight: 500
                    margin: 1rem 1.15625rem 1.125rem 1.15625rem
                p
                    font-size: 0.875rem
                    font-weight: 500
                    margin: 0 0.71875rem 3.125rem 1.15625rem